*{
  box-sizing:border-box;
}
.character__detail{
    text-decoration: none
}
  
.detail__element {
  border: 1px solid black;
  display: flex;
  background-color: #ff7753;
  color: white;
  width: 500px;
  height: 280px;
} 

.detail__listado {
  display: flex;
  justify-content: center;

}

.detail__character{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-left:30px;
}

.detail__title{
  text-align: center;
  font-size: 24px;
}

.detail__image {
  height: 280px;
}

.link__home {
  padding: 5px;
  margin: 10px;
  font-size: 16px;
  color: white;
  background-color: #ff7753;
  transition:transform ease 0.2s;
}

.link__home:hover { 
  transform: scale(1.05);
}